@model AppAdvocacia.ViewModels.AdvogadoFormViewModel
@{
    ViewBag.Title = Model.Titulo;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Advogado"))
{
    @Html.HiddenFor(m => m.Advogado.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Advogado.Nome)
        @Html.TextBoxFor(m => m.Advogado.Nome, new { @class = "form-control" })
        @Html.LabelFor(m => m.Advogado.CPF)
        @Html.TextBoxFor(m => m.Advogado.CPF, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}